@tailwind base;
@tailwind components;
@tailwind utilities;

/* Security-related CSS */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: text;
  user-select: text;
}

/* Prevent text overflow */
.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Secure iframe settings */
iframe {
  border: 0;
  pointer-events: none;
}